/* -----------------
About Page Styling
----------------- */

/* -----------------
Global Settings
----------------- */

body.info {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--grey-lightest);
    color: var(--text-color);
}

/* -----------------
Set Animations Globally
For separating, declare animations separately.
----------------- */

* {
    animation: global-slide-up 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, all 0.3s ease;
}

/* Separated Animations */

.header,
h1,
h2,
h3,
p {
    animation: global-slide-down 0.65s ease-in-out;
}

/* -----------------
Header Styling
----------------- */

.info header {
    background-color: var(--primary-light);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info h1,
h2,
h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.info p {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

/* -----------------
Container Styling
----------------- */

body.info .container {
    background-color: var(--background-color);
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: global-slide-up 0.5s ease-in-out;
}

body.info .container h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* -----------------
Grid Layout Styling
----------------- */

body.info .grid-container {
    display: grid;
    grid-auto-rows: max-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

body.info .center-text {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* -----------------
Grid Item Stylings
----------------- */

body.info .grid-container-item {
    background-color: var(--primary-light);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

body.info .grid-container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}