/* -----------------
Student Support Styling
----------------- */

/* -----------------
Chatbox Styling
----------------- */
.chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: var(--bg-primary-light);
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.chatbox-header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatbox-body {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid var(--grey-light);
}

.chatbox-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid var(--grey-light);
    border-radius: 5px;
    margin: 10px;
}

.chatbox-send-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.chatbox-send-button:hover {
    background-color: var(--primary-dark);
}

.message {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.message.user {
    background-color: var(--primary-light);
    color: var(--text-color);
    text-align: right;
}

.message.bot {
    background-color: var(--grey-light);
    color: var(--text-color);
    text-align: left;
}

/* -----------------
Animations
----------------- */

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        background-color: var(--primary-color);
    }
    50% {
        transform: scale(1.5);
        background-color: #FFC107;
    }
}

/* -----------------
Global Settings
----------------- */

body.student {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--grey-lightest);
    color: var(--text-color);
}

/* -----------------
Set Animations Globally
For separating, declare animations separately.
----------------- */

* {
    animation: global-slide-up 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, all 0.3s ease;
}

/* Separated Animations */

header, h1, h3, p {
    animation: global-slide-down 0.65s ease-in-out;
}

/* -----------------
Header Styling
----------------- */

.student header {
    background-color: var(--primary-light);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.student h1, h2, h3 {
    color: var(--grey-darker);
    text-align: center;   
    font-family: 'Segoe UI', sans-serif;
}

.student p {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comfortaa', sans-serif;
}

/* -----------------
Container Styling
----------------- */

body.student .container {
    background-color: var(--background-color);
    border-radius: 10px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* -----------------
Grid Container Styling
----------------- */

body.student .grid-container {
    display: grid;
    grid-auto-rows: max-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap:  20px;
    overflow: visible;
}

/* -----------------
Daily Challenge Styling
----------------- */

#daily-challenge {
    margin-top: 20px;
    text-align: center;
}

#daily-challenge .btn {
    margin-bottom: 10px;
}

#challenge-text {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

/* Challenge Display Container */
.challenge-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.challenge-box {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.student .grid-container-voice {
    display: grid;
    grid-auto-rows: max-content 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap:  20px;
    overflow: visible;
}

body.student .center-text {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

body.student .grid-container-item {
    position: relative;
    background-color: var(--bg-primary-light);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
    height: fit-content;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

body.student .grid-container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* -----------------
Mood Buttons Styling
----------------- */

.mood-btn-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.mood-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.mood-btn:hover {
    transform: scale(1.2);
}

/* -----------------
Breathing Circle Styling
----------------- */

#breathing-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 0 auto;
}

.breathing {
    animation: breathe 4s ease-in-out infinite;
}

#breathing-text {
    margin-top: 10px;
    color: var(--primary-color);
    text-align: center;
}

/* -----------------
Button Styling
----------------- */

.grid-container-item .btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.grid-container-item .btn, .AI-btn, .timer-btn {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.grid-container-item .btn.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.grid-container-item .btn:hover, .AI-btn:hover, .timer-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* -----------------
Custom Time Input Styling
----------------- */

#custom-time-input{
    padding: 10px;
    border: 2px solid #FFC107;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: #FFC107;
    background-color: transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.grid-container-item .custom-time-input:focus {
    border-color: #FFC107;
    color: #FFC107;
    outline: none;
}

/* -----------------
Button and Dropdown Styling
----------------- */

.grid-container-item .dropbtn {
    gap: 10px;
    width: 100%;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.grid-container-item .dropbtn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
  
.grid-container-item .dropdown-content {
    display: none;
    padding: 20px 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
  
.grid-container-item .btn-group .dropdown-content a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.grid-container-item .dropdown-content h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.grid-container .btn-group a:hover {color: aqua;}

/* -----------------
Timer Styling
----------------- */

#timer-display {
    margin-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

#custom-time-input {
    width: 92%;
}

#timer {
    font-size: 24px;
}

/* -----------------
Chart Styling
----------------- */

#chartContainer {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  canvas {
    border: 1px solid #ccc;
  }