/* ///////////////////
Teacher Support Styles
/////////////////// */
body.teacher {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.teacher header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: global-slide-down 0.5s ease-in-out;
}

.teacher h1 {
    text-align: center;
    font-size: 24px;    
    animation: global-slide-down 0.65s ease-in-out;
}

.teacher h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.teacher h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.teacher p {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

body.teacher .container {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: global-slide-up 0.5s ease-in-out;
}

body.teacher .container h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

body.teacher .grid-container {
    display: grid;
    grid-auto-rows: max-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap:  20px;
}

body.teacher .center-text {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

body.teacher .grid-container-item {
    position: relative;
    background-color: #e8f5e9;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

body.teacher .grid-container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

body.teacher .grid-container-feature {
    background-color: #e8f5e9;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
}

.grid-container-item .btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.grid-container-item .btn {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container-item .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.grid-container-item .dropbtn {
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container-item .dropbtn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
  
.grid-container-item .dropdown-content {
    display: none;
    padding: 20px 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
  
.grid-container-item .dropdown .dropdown-content a {
    color: black;
    text-decoration: none;
    margin: 10px 0;
    text-decoration: none;
    display: block;
}

.grid-container-item .dropdown-content h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.grid-container .dropdown a:hover {background-color: #ddd;}
