/* -----------------
Wiki Page Styling
----------------- */

/* -----------------
Global Settings
----------------- */

body.wiki {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* -----------------
Header Styling
----------------- */

.wiki header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: global-slide-down 0.5s ease-in-out;
}

.wiki h1 {
    text-align: center;
    font-size: 24px;    
    animation: global-slide-down 0.65s ease-in-out;
}

.wiki h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.wiki h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.wiki p {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* -----------------
Container Styling
----------------- */

body.wiki .container {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: global-slide-up 0.5s ease-in-out;
}

body.wiki .container h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* -----------------
Grid Container Styling
----------------- */

body.wiki .grid-container {
    display: grid;
    grid-auto-rows: max-content 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap:  20px;
}

body.wiki .center-text {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

body.wiki .grid-container-item {
    position: relative;
    background-color: #e8f5e9;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

body.wiki .grid-container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* -----------------
Buttons Styling
----------------- */

.grid-container-item .btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.grid-container-item .btn {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    background-color: #FFC107;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container-item .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}