/* -----------------
Wiki Page Styling
----------------- */

/* -----------------
Global Settings
----------------- */

body.wiki {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--grey-lightest);
    color: var(--text-color);
}

/* -----------------
Set Animations Globally
For separating, declare animations separately.
----------------- */

* {
    animation: global-slide-up 0.5s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, all 0.3s ease;
}

/* Separated Animations */

header,
h1,
h2,
h3,
p {
    animation: global-slide-down 0.65s ease-in-out;
}

/* -----------------
Header Styling
----------------- */

.wiki header {
    background-color: var(--primary-light);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; /* Change font to Arial */
    font-weight: bold; /* Make font bold */
    margin-bottom: 20px;
}

.wiki h1,
h2,
h3 {
    color: var(--grey-darker);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}


.wiki p {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comfortaa', Arial, sans-serif;
}

/* -----------------
Container Styling
----------------- */

body.wiki .container {
    background-color: var(--background-color);
    border-radius: 10px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* -----------------
Grid Container Styling
----------------- */

body.wiki .grid-container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

body.wiki .center-text {
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

body.wiki .grid-container-item {
    position: relative;
    background-color: var(--bg-primary-light);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #4CAF50;
    height: fit-content;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

body.wiki .grid-container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

body.wiki img {
    max-width: 70%;
    height: 300px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Navigation bar styling */
body.wiki .nav-bar {
    background-color: var(--secondary-color);
    padding: 10px;
    max-width: 90%;
    margin: 15px auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    animation: global-slide-down 0.6s ease-in-out;
}

body.wiki .nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 20px;
    transition: var(--background-color) 0.3s;
    transform: scale(1);
}

body.wiki .nav-bar a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    color: white;
}

body.wiki .nav-bar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

body.wiki .nav-bar,
body.wiki .nav-bar a,
body.wiki .nav-bar a.active,
body.wiki .nav-bar a:hover {
    font-family: Helvetica, sans-serif;
}

/* Remove underlines from links */
body.wiki a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comfortaa', Arial, sans-serif;
}
